<a href="https://colab.research.google.com/github/ammadamir1122/Pandas-Practice-and-Evaluation-Tasks-PF/blob/main/Pandas_Evaluation_Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Perform the following analysis on the provided file "demo.csv".


## 1. Which month saw the highest joining of the employees

   function name: max_joinings_month()
   
   inputs: DataFrame
   
   outputs: str
   
   
## 2. What is the mean salary is the state KS
   
   function name: mean_ks_salary()
   
   inputs: DataFrame
   
   outputs: float
   
   
## 3. Which Region has highest mean salary
   
   function name: max_mean_salary_region()
   
   inputs: DataFrame
   
   outputs: str
   
   
## 4. Which region has lowest mean salary
   
   function name: min_mean_salary_region()
   
   inputs: DataFrame
   
   outputs: str
   
   
## 5. Which City has highest mean weight
   
   function name: max_mean_weight_city()
   
   inputs: DataFrame
   
   outputs: str
   
   
## 6. What is the difference between mean salary of Doctors and Professors
   
   function name: dr_prof_mean_salary_diff()
   
   inputs: DataFrame
   
   outputs: float
   
   
## 7. How many female use yahoo
   
   function name: females_with_yahoo()
   
   inputs: DataFrame
   
   outputs: int
   
   
## 8. How many Doctors use gmail
   
   function name: doctors_with_gmail()
   
   inputs: DataFrame
   
   outputs: int
   
   
## 9. What is the password of the youngest male
   
   function name: youngest_male_password()
   
   inputs: DataFrame
   
   outputs: str

In [4]:
import pandas as pd

# demo.csv
file_path = "/content/drive/MyDrive/demo.csv"
df = pd.read_csv(file_path)
display(df)

# test.csv
# file_path = "test1.csv"
# test_df = pd.read_csv(file_path)
# display(test_df)

,Emp ID,Name Prefix,First Name,Middle Initial,Last Name,Gender,E Mail,Father's Name,Mother's Name,Mother's Maiden Name,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Password
0,850297,Ms.,Shawna,W,Buck,F,shawna.buck@gmail.com,Rosario Buck,Keisha Buck,Hendricks,...,222-11-7603,702-771-7149,Las Vegas,Clark,Las Vegas,NV,89128,West,swbuck,ja8?k3BTF^]o@<&
1,304721,Mr.,Nathaniel,Z,Burke,M,nathaniel.burke@walmart.com,Derrick Burke,Phoebe Burke,Pugh,...,550-99-9897,231-765-6923,Irons,Lake,Irons,MI,49644,Midwest,nzburke,tPA@4Wh9Ja$+Ln
2,412317,Drs.,Elisabeth,W,Foster,F,elisabeth.foster@gmail.com,Irwin Foster,Janie Foster,Delaney,...,215-91-0004,270-749-4774,Lexington,Fayette,Lexington,KY,40501,South,ewfoster,5D.B4IGNkWJfG<~
3,621375,Mrs.,Briana,C,Lancaster,F,briana.lancaster@yahoo.com,Jeffrey Lancaster,Shelby Lancaster,Weiss,...,534-71-1053,219-623-8216,Munster,Lake,Munster,IN,46321,Midwest,bclancaster,I%?JDM;pW
4,787549,Hon.,Estella,L,Potter,F,estella.potter@gmail.com,Booker Potter,Katelyn Potter,Pate,...,644-29-6396,907-677-8486,Fairbanks,Fairbanks North Star,Fairbanks,AK,99709,West,elpotter,j4jkEXfC&Rh
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,568435,Ms.,Bonnie,K,Baker,F,bonnie.baker@bp.com,Edwardo Baker,Pauline Baker,Robinson,...,064-02-6162,262-696-9171,Mukwonago,Waukesha,Mukwonago,WI,53149,Midwest,bkbaker,a?Co:/r;nu_wTQ
996,597409,Mr.,Luke,S,Turner,M,luke.turner@charter.net,Javier Turner,Nicole Turner,Sykes,...,056-02-8240,231-629-0498,Freeport,Barry,Freeport,MI,49325,Midwest,lsturner,7n5@64VC7|
997,359608,Hon.,Eva,S,Holman,F,eva.holman@hotmail.com,Coy Holman,Haley Holman,Boyle,...,343-11-1935,209-912-6705,Turlock,Stanislaus,Turlock,CA,95381,West,esholman,DG<<<e}*WgD<U
998,803426,Mrs.,Maritza,H,Christian,F,maritza.christian@microsoft.com,Dion Christian,Stephanie Christian,Mooney,...,336-11-5030,203-224-9056,Stamford,Fairfield,Stamford,CT,6910,Northeast,mhchristian,Krs@#TnM
999,669618,Drs.,Phyllis,H,Dudley,F,phyllis.dudley@yahoo.co.in,Jarrod Dudley,Latisha Dudley,Wilcox,...,101-02-6501,405-970-2341,Meno,Major,Meno,OK,73760,South,phdudley,h6wt@400%&Uu

In [18]:
pd.set_option('display.max_columns', None)
df.head(20)

,Emp ID,Name Prefix,First Name,Middle Initial,Last Name,Gender,E Mail,Father's Name,Mother's Name,Mother's Maiden Name,Date of Birth,Time of Birth,Age in Yrs.,Weight in Kgs.,Date of Joining,Quarter of Joining,Half of Joining,Year of Joining,Month of Joining,Month Name of Joining,Short Month,Day of Joining,DOW of Joining,Short DOW,Age in Company (Years),Salary,Last % Hike,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Password
0,850297,Ms.,Shawna,W,Buck,F,shawna.buck@gmail.com,Rosario Buck,Keisha Buck,Hendricks,12/12/1971,06:34:47 AM,45.66,44,2010-12-18,Q4,H2,2010,12,December,Dec,18,Saturday,Sat,6.61,119090,17%,222-11-7603,702-771-7149,Las Vegas,Clark,Las Vegas,NV,89128,West,swbuck,ja8?k3BTF^]o@<&
1,304721,Mr.,Nathaniel,Z,Burke,M,nathaniel.burke@walmart.com,Derrick Burke,Phoebe Burke,Pugh,10/31/1993,02:02:38 AM,23.76,52,2017-04-25,Q2,H1,2017,4,April,Apr,25,Tuesday,Tue,0.26,117991,14%,550-99-9897,231-765-6923,Irons,Lake,Irons,MI,49644,Midwest,nzburke,tPA@4Wh9Ja$+Ln
2,412317,Drs.,Elisabeth,W,Foster,F,elisabeth.foster@gmail.com,Irwin Foster,Janie Foster,Delaney,11/26/1994,03:48:27 PM,22.68,42,2017-03-27,Q1,H1,2017,3,March,Mar,27,Monday,Mon,0.34,161045,28%,215-91-0004,270-749-4774,Lexington,Fayette,Lexington,KY,40501,South,ewfoster,5D.B4IGNkWJfG<~
3,621375,Mrs.,Briana,C,Lancaster,F,briana.lancaster@yahoo.com,Jeffrey Lancaster,Shelby Lancaster,Weiss,11/24/1975,09:44:16 PM,41.70,43,2003-02-25,Q1,H1,2003,2,February,Feb,25,Tuesday,Tue,14.43,142616,16%,534-71-1053,219-623-8216,Munster,Lake,Munster,IN,46321,Midwest,bclancaster,I%?JDM;pW
4,787549,Hon.,Estella,L,Potter,F,estella.potter@gmail.com,Booker Potter,Katelyn Potter,Pate,3/13/1995,09:30:28 PM,22.39,58,2016-10-11,Q4,H2,2016,10,October,Oct,11,Tuesday,Tue,0.79,135706,11%,644-29-6396,907-677-8486,Fairbanks,Fairbanks North Star,Fairbanks,AK,99709,West,elpotter,j4jkEXfC&Rh
5,520092,Mr.,Lamont,L,Woods,M,lamont.woods@hotmail.com,Ignacio Woods,Beulah Woods,Trujillo,10/13/1991,07:19:41 AM,25.81,59,2014-11-27,Q4,H2,2014,11,November,Nov,27,Thursday,Thu,2.67,173027,17%,037-74-2595,236-597-8196,Purcellville,Loudoun,Purcellville,VA,20134,South,llwoods,8tf/YU}>s
6,795934,Ms.,Melinda,L,Lopez,F,melinda.lopez@hotmail.com,Leroy Lopez,Edna Lopez,Carter,9/15/1984,01:31:34 PM,32.89,55,2005-11-22,Q4,H2,2005,11,November,Nov,22,Tuesday,Tue,11.69,41287,4%,541-83-6362,210-396-1493,Stowell,Chambers,Stowell,TX,77661,South,mllopez,hf*&Gcb[
7,159108,Mrs.,Shanna,U,Silva,F,shanna.silva@gmail.com,Eliseo Silva,Minnie Silva,Callahan,6/19/1958,12:42:34 PM,59.15,48,1999-10-23,Q4,H2,1999,10,October,Oct,23,Saturday,Sat,17.78,85833,13%,673-48-7003,236-373-6712,Herndon,Fairfax,Herndon,VA,20171,South,susilva,oudj2Bq4vc2_{PU
8,330816,Ms.,Jasmine,J,Freeman,F,jasmine.freeman@gmail.com,Hans Freeman,Renee Freeman,Mcbride,8/31/1961,05:28:26 AM,55.95,55,1983-02-01,Q1,H1,1983,2,February,Feb,1,Tuesday,Tue,34.51,154216,1%,600-99-8437,423-796-1535,Ocoee,Polk,Ocoee,TN,37361,South,jjfreeman,Q.8<Q>K*H\*6f
9,532002,Ms.,Madge,V,Sargent,F,madge.sargent@aol.com,Luke Sargent,Judy Sargent,Herrera,10/2/1981,05:09:07 PM,35.84,58,2006-04-13,Q2,H1,2006,4,April,Apr,13,Thursday,Thu,11.30,133003,20%,177-86-7347,217-910-0644,Springfield,Sangamon,Springfield,IL,62712,Midwest,mvsargent,bc\&B81h
10,612850,Ms.,Bethany,Z,Cline,F,bethany.cline@yahoo.ca,Eddie Cline,Deanne Cline,Gordon,10/1/1986,05:22:21 AM,30.84,48,2008-04-19,Q2,H1,2008,4,April,Apr,19,Saturday,Sat,9.28,154836,21%,700-18-6519,215-970-5881,Montgomery,Lycoming,Montgomery,PA,17752,Northeast,bzcline,6wvl^0+zl.b/1
11,483751,Prof.,Reid,F,Randolph,M,reid.randolph@gmail.com,Grover Randolph,Erika Randolph,Melendez,1/20/1989,11:39:31 PM,28.54,78,2017-04-08,Q2,H1,2017,4,April,Apr,8,Saturday,Sat,0.30,124757,17%,343-11-4951,209-996-8902,Pacoima,Los Angeles,Pacoima,CA,91331,West,rfrandolph,Uc@^[]cqnZs
12,252938,Hon.,Antoine,H,Wiley,M,antoine.wiley@verizon.net,Frances Wiley,Naomi Wiley,Kirby,2/22/1996,06:29:11 PM,21.44,61,2017-04-18,Q2,H1,2017,4,April,Apr,18,Tuesday,Tue,0.28,58733,24%,078-02-8772,503-361-6334,Canby,Clackamas,Canby,OR,97013,West,ahwiley,r~4%7~uU|I<4CJ
13,966375,Dr.,Mathew,O,Hodge,M,mathew.hodge@hotmail.com,Prince Hodge,Regina Hodge,Henderson,7/5/1995,03:24:44 PM,22.08,89,2016-11-11,Q4,H2,2016,11,November,Nov,11,Friday,Fri,0.71,75584,14%,161-86-9547,209-294-7430,Van Nuys,Los Angeles,Van Nuys,CA,91404,West,mohodge,1E7oKc:M!cKsgq
14,707520,Mr.,Bernardo,L,Austin,M,bernardo.austin@hotmail.com,Lowell Austin,Shauna Austin,Humphrey,2/2/1975,11:18:06 PM,42.51,64,2005-01-26,Q1,H1,2005,1,January,Jan,26,Wednesday,Wed,12.51,118693,15%,143-23-9034,319-716-4227,Knoxville,Marion,Knoxville,IA,50197,Midwest,blaustin,S:An&6n%>s!
15,673049,Dr.,Cole,E,Jensen,M,cole.jensen@aol.com,Terence Jensen,Belinda Jensen,Brown,2/10/1990,07:36:01 PM,27.48,74,2011-05-30,Q2,H1,2011,5,May,May,30,Monday,Mon,6.17,98381,22%,762-12-1934,405-495-4201,Oklahoma City,Oklahoma,Oklahoma City,OK,73184,South,cejensen,C@#*|0ODx{7%bc
16,265124,Ms.,Tonia,J,Burns,F,tonia.burns@gmail.com,Johnathan Burns,Brianna Burns,Lester,4/19/1985,10:44:02 PM,32.30,50,2014-09-12,Q3,H2,2014,9,September,Sep,12,Friday,Fri,2.88,102274,19%,093-02-0725,209-631-5424,Friant,Fresno,Friant,CA,93626,West,tjburns,0bGtW[zHT?eSq\N
17,300693,Mr.,Tod,N,Holcomb,M,tod.holcomb@outlook.com,Gail Holcomb,Beulah Holcomb,Keller,6/21/1987,05:10:47 AM,30.12,76,2015-06-05,Q2,H1,2015,6,June,Jun,5,Friday,Fri,2.15,91719,3%,770-02-9125,240-364-4220,Patuxent River,St. Mary's,Patuxent River,MD,20670,South,tnholcomb,205oA^B^
18,369712,Mrs.,Yesenia,B,Guerrero,F,yesenia.guerrero@btinternet.com,Alfred Guerrero,Lori Guerrero,Joyner,3/29/1968,04:24:45 PM,49.36,41,1994-03-03,Q1,H1,1994,3,March,Mar,3,Thursday,Thu,23.42,150016,4%,494-29-3248,240-505-5321,Reisterstown,Baltimore,Reisterstown,MD,21136,South,ybguerrero,R:%7@}wYr$
19,913253,Mr.,Carey,B,Ferrell,M,carey.ferrell@yahoo.com,Robby Ferrell,Christi Ferrell,Bradshaw,5/22/1972,04:16:53 PM,45.21,87,2004-10-30,Q4,H2,2004,10,October,Oct,30,Saturday,Sat,12.75,125232,5%,522-99-2018,212-495-4523,New Baltimore,Greene,New Baltimore,NY,12124,Northeast,cbferrell,U~BdKWV?i.

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## 1. Which month saw the highest joining of the employees

   function name: max_joinings_month()
   
   inputs: DataFrame
   
   outputs: str

In [10]:
def max_joinings_month(df):
    max_joining_month =df.groupby('Month Name of Joining')['Emp ID'].count()
    max=  max_joining_month.idxmax()
    return max

print("on demo.csv",max_joinings_month(df))
# print("on test.csv",max_joinings_month(test_df))

on demo.csv April

## 2. What is the mean salary is the state KS
   
   function name: mean_ks_salary()
   
   inputs: DataFrame
   
   outputs: float

In [13]:
def mean_ks_salary(df):
    mean_salary_ks = df.groupby('State')['Salary'].mean()
    return mean_salary_ks.loc['KS']

print("on demo.csv",mean_ks_salary(df))
# print("on test.csv",mean_ks_salary(test_df))

on demo.csv 104225.45454545454

## 3. Which Region has highest mean salary
   
   function name: max_mean_salary_region()
   
   inputs: DataFrame
   
   outputs: str

In [14]:
def max_mean_salary_region(df):
    region_salary_means = df.groupby("Region")["Salary"].mean()
    region_with_highest_salary = region_salary_means.idxmax()
    return region_with_highest_salary

print("on demo.csv",max_mean_salary_region(df))
# print("on test.csv",max_mean_salary_region(test_df))

on demo.csv Midwest

## 4. Which region has lowest mean salary
   
   function name: min_mean_salary_region()
   
   inputs: DataFrame
   
   outputs: str

In [15]:
def min_mean_salary_region(df):
    region_salary_means = df.groupby("Region")["Salary"].mean()
    region_with_lowest_salary = region_salary_means.idxmin()
    return region_with_lowest_salary

print("on demo.csv",min_mean_salary_region(df))
# print("on test.csv",min_mean_salary_region(test_df))

on demo.csv West

## 5. Which City has highest mean weight
   
   function name: max_mean_weight_city()
   
   inputs: DataFrame
   
   outputs: str

In [16]:
def max_mean_weight_city(df):
    city_weight_means = df.groupby("City")["Weight in Kgs."].mean()
    city_with_highest_weight = city_weight_means.idxmax()
    return city_with_highest_weight

print("on demo.csv",max_mean_weight_city(df))
# print("on test.csv",max_mean_weight_city(test_df))

on demo.csv Conroe

## 6. What is the difference between mean salary of Doctors and Professors
   
   function name: dr_prof_mean_salary_diff()
   
   inputs: DataFrame
   
   outputs: float

In [32]:
def dr_prof_mean_salary_diff(df):
    doctors_mask = df["Name Prefix"].isin(["Dr.", "Drs."])
    professors_mask = df["Name Prefix"] == "Prof."
    doctors_salaries = df.loc[doctors_mask, "Salary"]
    professors_salaries = df.loc[professors_mask, "Salary"]
    
    # Calculate the mean salary for each group
    doctors_mean_salary = doctors_salaries.mean()
    professors_mean_salary = professors_salaries.mean()
    
    # Calculate the difference between the mean salary of doctors and professors
    salary_difference = professors_mean_salary-doctors_mean_salary 
    
    return salary_difference

print("on demo.csv",dr_prof_mean_salary_diff(df))
# print("on test.csv",dr_prof_mean_salary_diff(test_df))

on demo.csv 2635.981785063763

## 7. How many female use yahoo
   
   function name: females_with_yahoo()
   
   inputs: DataFrame
   
   outputs: int

In [35]:
def females_with_yahoo(df):
    females_mask = df["Gender"] == "F"
    yahoo_mask = df["E Mail"].str.contains("yahoo")
    females_with_yahoo_emails = df.loc[females_mask & yahoo_mask]
    
    # Count the number of females with Yahoo email addresses
    count = len(females_with_yahoo_emails)
    
    return count

print("on demo.csv",females_with_yahoo(df))
# print("on test.csv",females_with_yahoo(test_df))

on demo.csv 69

## 8. How many Doctors use gmail
   
   function name: doctors_with_gmail()
   
   inputs: DataFrame
   
   outputs: int

In [36]:
def doctors_with_gmail(df):
    doctors_mask = df["Name Prefix"].isin(["Dr.", "Drs."])
    gmail_mask = df["E Mail"].str.contains("gmail")
    doctors_with_gmail_emails = df.loc[doctors_mask & gmail_mask]
    count = len(doctors_with_gmail_emails)
    
    return count

print("on demo.csv",doctors_with_gmail(df))
# print("on test.csv",doctors_with_gmail(test_df))

on demo.csv 42

## 9. What is the password of the youngest male
   
   function name: youngest_male_password()
   
   inputs: DataFrame
   
   outputs: str

In [38]:
def youngest_male_password(df):
    male_mask = df[df['Gender'] == 'M']
    youngest_male_mask = male_mask.loc[male_mask['Age in Yrs.'].idxmin()]
    return youngest_male_mask.Password
    
    return password

print("on demo.csv",youngest_male_password(df))
# print("on test.csv",youngest_male_password(test_df))

on demo.csv xPr\aGPTQ#v